/* unvisited link */
a:link {
    color: #bbbbbb;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #bbbbbb;
}

/* mouse over link */
a:hover {
    color: #bbbbbb;
}

/* selected link */
a:active {
    color: #bbbbbb;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 2em;
	line-height: 2em;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

hr {
	color: #dddddd;
	border: 1px solid #dddddd;
}

nav {
	float: left;
	margin-top: 30px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url('../images/ep_naturalwhite.png');
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

header {
	border-bottom: 3px;
	border-color: #cccccc;
	border-style: solid;
	background-color: #FFF;
	height: 90px;
}

footer {
	background-color: #666666;
	border-top: 5px;
	border-color: #4aaaa5;
	border-style: solid;
	height: 60px;
	width: 100%;
	clear: both;
}

#name {
	background-color: #4aaaa5;
	height: 90px;
	width: 400px;
	float: left;
	margin-right: 356px;
}

#nameHeader {
	color: #FFF;
	text-align: center;
	overflow: auto;
	margin-top: 10px;
}

#margin {
	margin: auto;
	width: 960px;
}

#marginHeader {
	width: 960px;
	margin: auto;
}

#mainContent {
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	float: left;
	background-color: #FFF;
	width: 586px;
	margin: 40px 40px 40px 0px;
	padding: 30px;
}

#pic {
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

#connect {
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	float: left;
	background-color: #FFF;
	width: 206px;
	margin: 40px 0px 40px 0px;
	padding: 30px;
}

#copyright {
	color: #dddddd;
	text-align: center;
	margin-top: 40px;
	line-height: 1em;
}

.squareImage {
	width: 55px;
	margin: 5px;
}

#about {
	padding-right: 11px;
	border-right: 1px solid #d3d3d3;
}

#portfolio {
	padding-right: 11px;
 	margin-left: 8px;
 	border-right: 1px solid #d3d3d3;
}

#contact {
	margin-left: 7px;
}

/* portfolio specific css */

h3 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	padding: 5px;
	margin-top: 140px;
}

#portfolioOne {
	background-image: url(../images/portfolio1.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-right: 40px;
    margin-top: 30px;
}

#portfolioTwo {
	background-image: url(../images/portfolio2.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 30px;
}

#portfolioThree {
	background-image: url(../images/portfolio3.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-right: 40px;
    margin-top: 40px;
}

#portfolioFour {
	background-image: url(../images/portfolio4.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 40px;
}

#portfolioFive {
	background-image: url(../images/portfolio5.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 40px;
}
