
	/* unvisited link */
	a: link{
    	color: #d3d3d3;
    	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    	text-decoration: none;
	}

	/* visited link */
	a:visited {
    	color: #d3d3d3;
	}

	/* mouse over link */
	a:hover {
    	color: #dddddd;
	}

	/* selected link */
	a:active {
    	color: #d3d3d3;
	}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url('../images/ep_naturalwhite.png');
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 2em;
	line-height: 2em;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

hr {
	color: #dddddd;
	border: 1px solid #dddddd;
}

footer {
	background-color: #666666;
	border-top: 5px;
	border-color: #4aaaa5;
	border-style: solid;
	height: 60px;
	color: #dddddd;
	text-align: center;
}

.centeredNav {
	margin: auto;
	width: 926px;
}

#header {
	border-bottom: 3px;
	border-color: #cccccc;
	border-style: solid;
	background-color: #FFF;
	height: 90px;
}

#name {
	background-color: #4aaaa5;
	height: 86px;
	width: 400px;
}

#myName {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.7em;
	line-height: 1.7em;
	font-weight: bold;
	color: #FFF;
	margin: auto;
	width: 320px;
}

#about {
	border-right: 1px solid #d3d3d3;
	margin-top: 30px;
	padding: 0px 11px 0px 0px;
}

#portfolio {
 	border-right: 1px solid #d3d3d3;
 	margin-top: 30px;
 	padding: 0px 11px 0px 11px;
}

#contact {
	margin-top: 30px;
	padding: 0px 0px 0px 11px;
}

.mainContent {
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	background-color: #FFF;
	padding: 0px 30px 30px 30px;
}


.mainContentMain {
	margin-bottom: 40px;
	margin-top: 20px;
}

.mainContentConnect {
	margin: 20px 0px 40px 0px;
}

.centered {
	margin: auto;
	width: 210px;
}

.footerHelper {
	height: 100%;
}

#copyright {
	color: #828282;
	text-align: center;
	margin-top: 40px;
	line-height: 1em;
}

/* index page css */

#pic {
	width: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

/* portfolio page css */

h3 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	padding: 5px;
	margin-top: 140px;
}

#portfolioOne {
	background-image: url(../images/elephantseal.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-right: 40px;
    margin-top: 15px;
 }

#portfolioTwo {
	background-image: url(../images/portfolio2.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 15px;
}

#portfolioThree {
	background-image: url(../images/portfolio3.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-right: 40px;
    margin-top: 40px;
}

#portfolioFour {
	background-image: url(../images/portfolio4.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 40px;
}

#portfolioFive {
	background-image: url(../images/portfolio5.jpg);
    width: 272px;
    height: 200px;
    background-size: cover;
    float: left;
    margin-top: 40px;
}

/* contact page css */

button {
	background-color: #4aaaa5;
	border: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	width: 100px;
	height: 40px;
}

input {
	padding: 7px 10px;
	color: #dddddd;
	font-size: 14px;
	width: 100%;
	margin: 5px 0px;
}

#messageInput {
	height: 200px;
	margin-bottom: 15px;
}


@media only screen and (min-width: 1200px) {
   
    .centeredNav {
		margin: auto;
		width: 1138px;
	}

	#portfolioOne {
   		width: 338px;
    	height: 249px;
	 }

	#portfolioTwo {
	    width: 338px;
    	height: 249px;
	}

	#portfolioThree {
	    width: 338px;
    	height: 249px;
	}

	#portfolioFour {
	    width: 338px;
    	height: 249px;
	}

	#portfolioFive {
	    width: 338px;
    	height: 249px;
	}

	h3 {
		font-size: 1.7em;
		line-height: 2em;
		padding: 5px;
		margin-top: 170px;
	}

	/*
	.xsOffset {
		display: none;
	}
	*/
}

@media only screen and (max-width: 1199px) {
   
    .centeredNav {
		margin: auto;
		width: 937px;
	}

	#portfolioOne {
   		width: 270px;
    	height: 199px;
	 }

	#portfolioTwo {
	    width: 270px;
    	height: 199px;
	}

	#portfolioThree {
	    width: 270px;
    	height: 199px;
	}

	#portfolioFour {
	    width: 270px;
    	height: 199px;
	}

	#portfolioFive {
	    width: 270px;
    	height: 199px;
	}

	h3 {
		font-size: 1.3em;
		line-height: 2em;
		padding: 5px;
		margin-top: 140px;
	}

	/*
	.xsOffset {
		display: none;
	}
	*/
}

@media only screen and (max-width: 991px) {
   
    .centeredNav {
		margin: auto;
		width: 718px;
	}

	#portfolioOne {
   		width: 323px;
    	height: 238px;
	 }

	#portfolioTwo {
	    width: 323px;
    	height: 238px;
	}

	#portfolioThree {
	    width: 323px;
    	height: 238px;
	}

	#portfolioFour {
	    width: 323px;
    	height: 238px;
	}

	#portfolioFive {
	    width: 323px;
    	height: 238px;
	}

	h3 {
		font-size: 1.7em;
		line-height: 2em;
		padding: 5px;
		margin-top: 160px;
	}

	/*
	.xsOffset {
		display: none;
	}
	*/
}

@media only screen and (max-width: 767px) {
   
    #name {
		background-color: #4aaaa5;
		height: 86px;
		width: 100%;
	}

	#header {
		height: 180px;
		padding: 0px;
	}

	.centeredNav {
		margin: 0px 0px 0px 0px;
		width: 100%;
	}

	#navContainer {
		padding: 0px;
	}

	.linksCenter {
		width: 350px;
		margin: auto;
	}

	#about {
		margin-top: 0px;
		padding: 0px 11px 0px 0px;
		width: 50px;
		display: inline;
	}

	#portfolio {
 		margin-top: 0px;
 		padding: 0px 11px 0px 11px;
 		width: 50px;
 		display: inline;
	}

	#contact {
		padding: 0px 0px 0px 11px;
		width: 50px;
		display: inline;
	}

	.nav>li {
		padding: 0px;
		display: inline;
	}

	.nav {
		padding-top: 30px;
		margin: auto;
		width: 215px;
	}

	#portfolioOne {
   		width: 100%;
    	height: 400px;
	 }

	#portfolioTwo {
	    width: 100%;
    	height: 400px;
	}

	#portfolioThree {
	   	width: 100%;
    	height: 400px;
	}

	#portfolioFour {
	   	width: 100%;
    	height: 400px;
	}

	#portfolioFive {
	    width: 100%;
    	height: 400px;
	}

	h3 {
		font-size: 1.7em;
		line-height: 2em;
		padding: 5px;
		margin-top: 310px;
	}

	#pic {
		width: 100%;
	}

	/* 
	.xsOffset {
		display: initial;
	}
	*/
}

